@import url(estilos/cabecalho.css);
@import url(estilos/relatos.css);
@import url(estilos/desaparecidos.css);
@import url(estilos/secreto.css);

:root{
    --cor-fundo:#0B1E3F;
    --cor-destaque:#C9A449;
    --cor-texto-destaque:#1A1A1A;
    --cor-texto:#E6EEF6;
    --cor-alerta:#CE2D2D;
    --cor-papel:#F2E8D5;

    --fonte-texto:'Cormorant Garamond', serif;
    --fonte-destaque:'Staatliches', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--cor-fundo);
    position: relative;
}

body::before {
  content: "";
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 9999;

  /* O truque do granulado */
  background-image: 
    repeating-radial-gradient(circle, rgba(255,255,255,0.05) 0, rgba(255,255,255,0.05) 1px, transparent 1px),
    repeating-radial-gradient(circle, rgba(0,0,0,0.05) 0, rgba(0,0,0,0.05) 1px, transparent 1px);

  mix-blend-mode: overlay;
  opacity: 0.25; /* Aumente ou reduza */
}
