@import url(estilos/cabecalho.css);
@import url(estilos/relatos.css);
@import url(estilos/desaparecidos.css);
@import url(estilos/secreto.css);
@import url(estilos/rodape.css);

:root{
    --cor-fundo:#0B1E3F;
    --cor-destaque:#C9A449;
    --cor-texto-destaque:#1A1A1A;
    --cor-texto:#E6EEF6;
    --cor-alerta:#CE2D2D;
    --cor-papel:#F2E8D5;

    --fonte-texto:'Cormorant Garamond', serif;
    --fonte-destaque:'Staatliches', sans-serif;
    --fonte-texto-arquivo:'Merriweather';
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--cor-fundo);
    position: relative;
}

body::before {
  content: "";
  pointer-events: none;
  position: fixed;
  inset: 0;
}


button{
  cursor: pointer;
  margin: 10px auto;
  display: block;
  color: var(--cor-texto-destaque);
  padding: 0 1rem;
  font-size: 1.5rem;
  font-family: var(--fonte-destaque);
}
