@import url(estilos/cabecalho.css);
@import url(estilos/relatos.css);
@import url(estilos/desaparecidos.css);
@import url(estilos/secreto.css);
@import url(estilos/rodape.css);

:root{
    --cor-fundo:#0B1E3F;
    --cor-destaque:#C9A449;
    --cor-texto-destaque:#1A1A1A;
    --cor-texto:#E6EEF6;
    --cor-alerta:#CE2D2D;
    --cor-papel:#F2E8D5;

    --fonte-texto:'Cormorant Garamond', serif;
    --fonte-destaque:'Staatliches', sans-serif;
    --fonte-texto-arquivo:'Merriweather';
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--cor-fundo);
    position: relative;
}

body::before {
  content: "";
  pointer-events: none;
  position: fixed;
  inset: 0;
}

#botao-confidencial{
  background-color: var(--cor-papel);
  width: fit-content;
  cursor: pointer;
  margin: 10px auto;
  color: var(--cor-texto-destaque);
  padding: 0 1rem;
  font-size: 1rem;
  border-radius: 10px;
  font-family: var(--fonte-destaque);
  position: relative;
  &::after, &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background-image: conic-gradient(from var(--angle), transparent 10%, rgb(255, 0, 0));
    z-index: -1;
    padding: 2px;
    border-radius: 10px;
    animation: spin 5s linear infinite;
  }
  &::before{
      filter: blur(5rem);
      opacity: 0.5;
  }
}

@keyframes spin {
  from{
      --angle:0deg;
  }
  to{
      --angle:360deg;
  }
}


@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


