@import url(styles/dadosPessoais.css);
@import url(styles/objetivo.css);

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

@media print {
    * {
        font-size: inherit;
    }

    @page {
        size: A4;
        margin: 20mm;
    }

    body {
        margin: 0;
        background: none;
        font-size: 11pt;
        line-height: 1.35;
    }

    h1 {
        font-size: 18pt;
    }

    h2 {
        font-size: 14pt;
    }

    h3 {
        font-size: 12pt;
    }

    p {
        font-size: 11pt;
    }

    .modelo_container {
        padding: 20mm;
        width: auto;
        min-height: auto;
        box-shadow: none;
        padding: 0;
    }

}


@media screen {
    body {
        padding: 2rem;
        background-color: #272727;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modelo_container {
        width: 210mm;
        min-height: 297mm;
        background: white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        padding: 20mm;
    }
}

.modelo_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}