.dados_pessoais{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.campo_personal-info{
    display: flex;
    flex-direction: column;
    font-size: 10pt;
    line-height: 16pt;
    text-align: center;
}
#campo_endereco_container{
    display: flex;
    gap: 1rem;
}