.cabecalho{
    padding: var(--padding-base);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    color: #fff;
    z-index: 10000;
    transition: all 0.3s ease;
}
.cabecalho_nav{
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}
.cabecalho_nav-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.cabecalho_nav-list_item {
    color: #fff;
    font-size: 1.2rem;
    transition: .3s;
}

.cabecalho_nav-list_item:hover{
    transform: scale(1.1);
}

a{
    color: white;
    text-decoration: none;
}

/* ============ ESTILO AO ROLAR (ENCOLHE) ============ */
.cabecalho.shrink {
    background-color: rgba(0, 0, 0, 0.219);
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        filter: url(#liquidglass);
        -webkit-filter: url(#liquidglass);
        z-index: 1;
    }
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        inset: 0;
        z-index: 10;
        box-shadow: 
            inset 1px 1px 0 rgba(255, 255, 255, 0.2),
            inset 0 0 5px rgba(255, 255, 255, 0.2);
    }
}

.cabecalho.shrink .cabecalho_nav-list_item {
    font-size: 1rem;
    transition: font-size .3s;
    z-index: 10;
}

/* ============ EVITA QUE O CONTEÚDO SUBA POR TRÁS DO CABEÇALHO ============ */
body {
    padding-top: 50px; /* altura inicial do cabeçalho */
}