.filmes{
    padding: var(--padding-base);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filmes_container{
    display: grid;
    grid-template-columns: repeat(3,350px);
    gap: 0 1rem;

    @media screen and (max-width: 1251px) {
        grid-template-columns: repeat(2,350px);
    }

    @media screen and (max-width: 768px){
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem; 
    }

}
.filmes_container-item{
    width: 100%;
    position: relative;
    background-color: var(--cor_fundo-card);
    border-radius: 1rem;
    border: var(--borda-caixa);
    box-shadow: var(--sombra-caixa);
    /*box-shadow: var(--sombra-caixa);*/
    color: white;
    padding: 1rem 0;
    
    display: flex;
    flex-direction: column; 

    animation: transicao linear both;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;

    @media screen and (max-width: 768px){
        max-width: 400px;
        width: 350px;
    }
}

.filme_card-nome{
    display: flex;
    padding: 0 1rem;
    align-items: center;
    gap: 0px 10px;
}
.filme_card-dados{
    font-size: 1rem;
    padding: 0rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5px;
}

.filme-poster{
    width: 70%;
    border-radius: 8px;
    max-width: 300px;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.titulo-usuario{
    font-size: 1rem;
    font-weight: bold;
}
.titulo-data{
    font-size: 10px;
    font-weight: 100;
}
.imagem_perfil{
    border-radius: 1rem;
    border: 1px solid rgb(156, 156, 156);
    object-fit: cover;
    background-color: white;
}

.titulo_filme,
.titulo_onde,
.titulo_genero,
.titulo_categoria,
.toggle-sinopse{
    font-weight: 200;
}

.titulo_filme-escolhido,
.titulo_onde-escolhido,
.titulo_genero-escolhido,
.titulo_categoria-escolhido,
.titulo_sinopse-texto{
    font-weight: bolder;
}

.titulo_onde-escolhido{
    padding: 0 8px;
    border-radius: 8px;
}

.caixa_item-sinopse{
    display: flex;
    flex-direction: column;
}
.filme_card-acoes{
    display: flex;
}

.dados_filme{
    background-color: rgba(0, 0, 0, 0.26);
    width: 90%;
    overflow: hidden;
    text-align: center;
    margin: 8px 0;
    padding: 1rem 0;
    border: var(--borda-caixa);
    border-radius: 1rem;
    line-height: 24px;
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.123), inset -2px -2px 5px rgba(0, 0, 0, 0.336);
}

.btn-excluir{
    position: absolute;
    width: 25px;
    height: 25px;
    border: none;
    right: 10px;
    top: 10px;

    border-radius: 50%;
    background-color: var(--cor-botao);
    color: white;
    box-shadow: var(--sombra-caixa);
    cursor: pointer;
}

.modal-avaliacao {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.473);

    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-conteudo {
    background-color: #cfcfcf15;
    backdrop-filter: blur(20px);
    padding: 20px 30px;
    color: var(--cor-texto);
    box-shadow: var(--sombra-caixa);
    border: 1px solid rgba(255, 255, 255, 0.199);
    border-radius: 12px;
    text-align: center;
    width: 70%;
    max-width: 400px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-conteudo input,
.modal-conteudo select {
    width: 80%;
    margin: 8px 0;
    padding: 5px;
    border: 0;
    outline: 0;
}

.botoes-modal {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    gap: 1rem;
}

.avaliadores-container {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.avaliador-foto {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ffcc00;
    object-fit: cover;
    transition: transform 0.2s;
    background-color: white;
}

.avaliador-foto:hover {
    transform: scale(1.1) rotate(20deg);
}

.sem-avaliacoes {
    font-size: 0.85rem;
    color: #888;
    font-style: italic;
    }

.titulo-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.toggle-sinopse{
    padding: 0rem 1rem;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.623);
    border: 0;
}
.titulo_sinopse-texto{
    text-align: justify;
    padding: 0 1rem;
    color: white;
    font-weight: 300;
    font-size: .8rem;
}

.filtros{
    margin: 1rem auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.filtros select,.filtros input, .filtros button {
    font-size: 1rem;
    width: fit-content;
    text-align: center;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    box-shadow: var(--sombra-caixa);

    @media screen and (max-width:768px){
        font-size: .8rem;
    }
}
#filtro-sortear{
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    padding: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    z-index: 0;
    background-color: transparent;

    &::after{
        content:"";
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #272727;
        border-radius: 50%;
    }

    &::before{
        content:"";
        background-image: linear-gradient(
                    45deg,
                    #FF0000, #FF7300, #FFFB00, #48FF00,
                    #00FFD5, #002BFF, #FF00C8, #FF0000
                    );
        position: absolute;
        border: 0;
        outline: 0;
        top: -2px;
        left: -2px;
        background-size: 600%;
        z-index: -1;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        /*filter: blur(10px);*/
        animation: glowing 30s linear infinite;
        border-radius: 50%;
    }
    &:hover{
        transform: rotate(10deg);
        scale: 1.1;
        transition: all .3s ease-in-out;
    }
}

#filtro-buscar{
    background-color: white;
    background-image: url(../imagens/icones/icone_lupa.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 18px;
}

.icone-media{
    filter: drop-shadow(0 0 5px gold);
    animation: rodar linear both;
    animation-timeline: view();
}

/* Modal de Sorteio */
.modal-sorteio {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 10;
    justify-content: center;
    align-items: center;
}


.modal-conteudo-sorteio {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    animation: surgir 2s ease-out;
    transform-origin: center center;
}

.poster-sorteio {
    max-width: 200px;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.filme-sorteado-info h3 {
    color: #2c3e50;
    font-size: 22px;  
    font-style: italic;
}

.info-sorteio {
    text-align: center;
}

.info-sorteio p {
    font-size: 16px;
    margin: 8px 0;
}
.filme-sorteado-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
