.capa {
    margin: 0 auto;
    padding: 20px;
    background-color: var(--cor-destaque);
    background-image: url(../imagens/fundo-buscar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.capa_titulo{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-texto);
    margin-bottom: 20px;
}

.capa_buscar{
    width: fit-content;
    max-width: 400px;
    padding: 2px 5px;
    background-color: white;
    border-radius: 8px;
    display: flex;
}

.capa_buscar-input{
    border: none;
    text-align: center;
}

.capa_buscar-pesquisar{
    background-color: var(--cor-destaque);
    padding: 5px;
    border-radius: 8px;
}
