.filmes{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.filmes_lista {
    width: 70%;
    padding: 1.7rem 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.filme_lista_item {
    flex: 1 1 200;
    overflow: hidden;
    padding: 0 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.116);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filme_lista_item img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.filme_linha {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.filmes_container{
    width: 100%;
}

.filmes_titulo{
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: 14pt;
    height: 60px;
    padding: 5px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.filme_lista-avaliacao {
    text-align: center;
}

.filme_lista-avaliacao h5 {
    font-weight: 100;
    color: var(--cor-texto);
    background-color: #272727;
    border-radius: 10px;
    cursor: pointer;
}

.filme-streaming,.filme-categoria,.filme-duracao,.filme-ano{
    padding: 0 10px;
    border-radius: 8px;
}

