*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}
body{
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}