@import url(reset.css);



body{
    background-image: radial-gradient(circle, rgb(82, 82, 255), rgb(92, 20, 20));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-direction: column;
}
ol{
    list-style-type: none;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
ul{
    list-style-type: none;
}

main{
    width: 100%;
    height: 100%;
    color: white;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem 0;
}

.caixa-classe{
    max-width: 600px;
    width: 90%;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.301);
    background-color: rgba(0, 0, 0, 0.288);
    backdrop-filter: blur(40px);
    border-radius: 32px;
    padding: 1rem;

    display: flex; 
    flex-direction: column;
    gap: 1rem;
}

.categorias{
    font-size: 1.5rem;
    position: relative;
}

.categorias::after{
    position: absolute;
    content: url(../imagens/assets/icon-abrir.png);  
    translate: 10px 3px;
}

.categorias-list{
    display: none;
    flex-direction: row;
    gap: 1rem;
    overflow-x: scroll;
}
.categorias-list::-webkit-scrollbar{
    display: none;
}

.list-item{
    min-width: 300px;
    background-color: #27272773;
    border: 1px solid rgba(255, 255, 255, 0.301);
    border-radius: 32px;
    overflow: hidden;
    padding: 1rem 0;
}
footer{
    text-align: center;
    font-size: .8rem;
    font-weight: 200;
}

.img-perfil{
    max-width: 300px;
    width:80%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.473);
}

.informacao-papel{
    margin: 0 auto;
    background-color: #272727a2;
    box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.116),inset -5px -5px rgba(0, 0, 0, 0.089);
    border-radius: 32px;
    width: 90%;
    padding: 1rem;
}

.informacao-papel li{
    font-weight: 300;
}

.informacao-papel span {
    font-weight: 100;
}

.informacao-nome{
    font-weight: bolder;
    font-family: "Montserrat";
    transform: translateY(-5px);
}

.informacao-titulo{
    font-weight: bolder;
}
