.card-inicio{
    width: 100%;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.card-inicio_titulo{
    text-align: center;
    color: grey;
}
.card-inicio_registrar{
    width: 200px;
    height: 200px;
    background-image: radial-gradient(circle, blue,rgb(240, 13, 13),blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
