.footer-menu {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.336);
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-menu_list {
    padding: 8px 12px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-item_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 24;
    font-size: 24px;
}