/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border: none;
}