*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat',sans-serif;
}
ul{
    list-style-type: none;
}
a{
    cursor: pointer;
    color: black;
    text-decoration: none;
}