/* Variáveis CSS */
:root {
  /* Cores */
  --cor-primaria: #667eea;
  --cor-secundaria: #764ba2;
  --cor-sucesso: #10b981;
  --cor-perigo: #ef4444;
  --cor-texto: #333;
  --cor-texto-opaco:var(--cor-texto-opaco);
  --cor-texto-secundario: #666;
  --cor-texto-terciario: #999;
  --cor-branco: #ffffff;
  --cor-fundo-claro: #f0f4ff;
  --cor-fundo-secundario: #e5edff;
  --cor-borda: #e5e7eb;
  --cor-background: rgb(241, 241, 241);

  /* Gradientes */
  --gradiente-principal: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

  /* Sombras */
  --sombra-pequena: 0 2px 10px rgba(0, 0, 0, 0.1);
  --sombra-media: 0 5px 20px rgba(0, 0, 0, 0.4);
  --sombra-grande: 0 10px 40px rgba(0, 0, 0, 0.2);
  --sombra-card-leve: 0 -5px 10px rgba(0, 0, 0, 0.1);
  --sombra-texto: 2px 2px 4px rgba(0, 0, 0, 0.2);
  --sombra-card-leve: 3px 3px 3px rgba(0, 0, 0, 0.082),
    -3px -3px 3px rgba(255, 255, 255, 0.288);

  /* Espaçamentos */
  --espacamento-pequeno: 10px;
  --espacamento-medio: 20px;
  --espacamento-grande: 30px;

  /* Border Radius */
  --radius-pequeno: 10px;
  --radius-medio: 15px;
  --radius-grande: 20px;

  /* Transições */
  --transicao-rapida: 0.2s;
  --transicao-media: 0.3s;

  /* bordas*/
  --borda-leve: 1px solid rgba(3, 0, 0, 0.016);
}
