.cabecalho{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cabecalho-logo{
    transition: 0.6s;
    width: 80px;
    @media(max-width:768px){
        width: 50px;
    }
}

.cabecalho-titulo_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalho-titulo{
    transition: 0.6s;
    font-size: 5rem;
    font-family: var(--fonte-destaque);
    color: var(--cor-destaque);
    @media(max-width:768px){
        font-size: 2.5rem;
    }
}
.cabecalho-detalhe{
    margin-top: -20px;
    color: var(--cor-destaque);
    font-family: var(--fonte-texto);
    font-size: 2rem;
    transition: 0.6s;
    @media(max-width:768px){
        font-size: 1rem;
        margin-top: -10px;
    }
}
