.desaparecidos{
    margin: 1rem auto;
    width: 90%;
    max-width: 800px;
    position: relative;
    background-color: var(--cor-papel);
    box-shadow: 0 4px 12px rgba(0,0,0,0.35);
}
.preset{
    position: absolute;
    width: 300px;
    top: 50%;
    animation: surgir linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

@keyframes surgir {
    0%,100%{
        transform: translateX(-100%) rotate(0);
    }
    50%{
        transform: translateX(-60%) rotate(30deg);
    }
}
.desaparecidos-titulo{
    text-align: center;
    padding: 1rem 0;
    font-family: var(--fonte-texto-arquivo);
    color: var(--cor-texto-destaque);
}

.desaparecidos-container{
    width: min(1000px, 80%);
    margin: 0 auto;
    columns: 2 200px;
    column-gap: 10px;
}
.desaparecidos-imagem{
    width: 100%;
    display: block;
    margin-bottom: 1em;
}