.crime-footer {
    background: #0d1b2a;
    color: #eee;
    padding: 2rem 1.2rem;
    font-family: "Roboto Condensed", sans-serif;
    border-top: 4px solid var(--cor-destaque); /* tom dourado policial */
}

.footer-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
    color: var(--cor-destaque);
    letter-spacing: 1px;
}


.footer-text {
    font-size: 0.95rem;
    opacity: 0.85;
    margin-bottom: 1.2rem;
}


.footer-map iframe {
    width: 100%;
    height: 180px;
    border: 0;
    border-radius: 6px;
    margin-bottom: 1.5rem;
}

.footer-info h4 {
    font-size: 1.1rem;
    color: var(--cor-destaque);
    margin-bottom: 0.4rem;
}

.footer-info p {
    margin: 0.2rem 0;
    font-size: 0.9rem;
    opacity: 0.8;
}

.footer-bottom {
    margin-top: 1.8rem;
    text-align: center;
    padding-top: 1rem;
    font-size: 0.8rem;
    opacity: 0.5;
    border-top: 1px solid #333;
}


/* DESKTOP */
@media (min-width: 768px) {
    .footer-content {
        max-width: 850px;
        margin: auto;
        text-align: center;
    }

    .footer-map iframe {
        height: 250px;
    }
}
