.secreto{
    display: none;
    margin: 1rem auto;
    width: 90%;
    max-width: 800px;
    border-radius: 6px;
    position: relative;
    background-color: var(--cor-papel);
    box-shadow: 0 4px 12px rgba(0,0,0,0.35);
    transition: .6s;
}
.secreto-container{
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.secreto-imagens{
    width: 300px;
}

#demoSurgir{
    position: absolute;
    bottom: -100px;
    z-index: 999;
    filter: contrast(1.2);
    animation: susto ease-in both;
    -webkit-animation: susto ease-in both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

@keyframes susto {
    0% {
        transform: scale(0) rotate(0deg) translateY(20px);
        opacity: 0;
    }

    20% {
        transform: scale(0.5) rotate(8deg) translateY(0px);
        opacity: 1;
    }

    50% {
        transform: scale(2.5) rotate(0deg) translateY(-15px);
    }

    80% {
        transform: scale(1.2) rotate(-8deg) translateY(0px);
    }
    90%{
        transform: scale(0.9) rotate(8deg) translateY(0px);
    }
    100% {
        transform: scale(0) rotate(0deg) translateY(0px);
    }
}