.secreto{
    display: none;
    margin: 1rem auto;
    width: 90%;
    max-width: 800px;
    position: relative;
    background-color: var(--cor-papel);
    box-shadow: 0 4px 12px rgba(0,0,0,0.35);
    transition: .6s;
}
.secreto-container{
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.secreto-imagens{
    width: 300px;
}