.secreto{
    display: none;
    margin: 1rem auto;
    width: 90%;
    max-width: 800px;
    border-radius: 6px;
    position: relative;
    background-color: var(--cor-papel);
    box-shadow: 0 4px 12px rgba(0,0,0,0.35);
    transition: .6s;
}
.secreto-container{
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.secreto-imagens{
    width: 300px;
}
#demoSurgir{
    filter: drop-shadow(10px 10px 20px rgb(167, 8, 8));
    position: absolute;
    bottom: -60px;
    z-index: 999;
    animation: susto linear both;
    -webkit-animation: susto ease-in both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

@keyframes susto {
    0%,100%{
        scale: 0.0;
    }

    25%{
        rotate: 10deg;
    }

    50%{
        scale: 2.0;
    }

    75%{
        rotate: -10deg;
    }
}