.inicio{
    margin: 1rem auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem 0;
}

.inicio_foto-container{
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    animation: sombraEfeito 5s infinite linear;
}

.foto-perfil{
    width: 100%;
}

.inicio_sobre-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem 0;
}

.inicio_sobre-titulo{
    text-align: center;
    font-size: var(--font-size-titulo);
}

.inicio_sobre-conteudo{
    text-align: justify;
    width: 90%;
    font-size: var(--font-size-conteudo);
}

@keyframes sombraEfeito {
    0%,100%{
        box-shadow: 10px 5px 10px rgba(202, 30, 188, 0.863),-5px -5px 10px rgba(196, 199, 24, 0.89);
    }
    50%{
        box-shadow: -10px -5px 10px rgba(196, 199, 24, 0.89),5px 5px 10px rgba(202, 30, 188, 0.863);
    }
}