.projetos{
    margin: 1rem auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem 0;
}

.projetos_list{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.projetos_list-item{
    padding: 1rem;
    border-radius: 20px;
    font-size: 3rem;
    
    animation: efeito linear both;
    animation-timeline: view();
    transition: 0.5s;
}

.projetos_list-item:hover{
    scale: 1.1;
}

@keyframes efeito {
    0%,100%{
        filter: blur(40px);
    }
    44%,55%{
        filter: blur(0);
    }
    
}
