@charset "UTF-8";
:root{
    --cor-pele: #E0C896;
    --cor-olhos: #f4f4f4;
    --cor-cabelo: #191B1A;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    min-height: 100vh;
    width: 100vw;
    background-image: radial-gradient(circle,rgb(95, 95, 95),rgb(27, 27, 27));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.cabeça{
    width: 140px;
    height: 200px;
    border-radius: 50% 50% 60% 60%;
    background-color: var(--cor-pele);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.351)
}
.cabeça::before{ /*cabelo 1*/
    content: '';
    width: 180px;
    height: 50px;
    border-radius: 0px 0px 70% 70%;
    background-color: var(--cor-cabelo);
    position: absolute;
    top: 0;
}
.cabeça::after{ /*cor cabelo 2*/
    content: '';
    width: 180px;
    height: 70px;
    border-radius: 0px 0px 70% 70%;
    background-image:linear-gradient(to bottom,#000000,#272727 );
    position: absolute;
    top: 0px;
}

#olhos {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#olho_esquerdo{
    width: 30px;
    height: 40px;
    background-color: var(--cor-olhos);
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.181);
    position: relative;
    overflow: hidden;
    z-index: 1;
    
}
#olho_esquerdo::before{ /*palpebra*/
    content: '';
    width: 100%;
    height: 100%;
    bottom: 30px;
    border-bottom: 1px solid #b5a27855;
    background-color: var(--cor-pele);
    position: absolute;
    z-index: 3;
    animation: palpebra 7s infinite;
    animation-delay: 1ms;
}
#olho_esquerdo::after{ /*pupila*/
    content: '';
    width: 20px;
    height: 20px;
    background-image:radial-gradient(circle, rgb(45, 108, 55), #52c365);
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.351);
    z-index: 2;
    animation: pupila 5s infinite alternate;
    animation-delay: 1ms;
}
@keyframes pupila{
    0%,100%{
        transform: translateX(0px);
    }
    70%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(10px);
        transform: translateY(5px);
    }
    90%{
        transform: translateX(-10px);
        transform: translateY(-5px);
    }
}
#olho_direito{
    width: 30px;
    height: 40px;
    background-color: var(--cor-olhos);
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.181);
    position: relative;
    overflow: hidden;
    z-index: 1;
    
}
#olho_direito::before{ /*palpebra*/
    content: '';
    width: 100%;
    height: 100%;
    bottom: 30px;
    border-bottom: 1px solid #b5a27855;
    background-color: var(--cor-pele);
    position: absolute;
    z-index: 3;
    animation: palpebra 7s infinite;
    animation-delay: 1ms;
}
@keyframes palpebra{
    0%,100%{
        transform: translateY(0px);
    }
    70%{
        transform: translateY(0px);
    }
    90%{
        transform: translateY(30px);
    }
}
#olho_direito::after{ /*pupila*/
    content: '';
    width: 20px;
    height: 20px;
    background-image:radial-gradient(circle, rgb(45, 108, 55), #52c365);
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.351);
    z-index: 2;
    animation: pupila 5s infinite alternate;
    animation-delay: 1ms;
}
#nariz{
    width: 20px;
    height: 40px;
    background-color: var(--cor-pele);
    border-radius: 50% 50% 5px 5px;
    position: absolute;
    top: 100px;
    left: 61px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.351);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nariz::before{/*narina esquerda*/
    content: '';
    width: 6px;
    height: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.185);
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.377),#837658);
    border-radius: 50%;
    position: absolute;
    top: 37px;
    left: 2px;
}
#nariz::after{/*narina direita*/
    content: '';
    width: 6px;
    height: 5px;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.377),#837658);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.156);
    border-radius: 50%;
    position: absolute;
    top: 37px;
    left: 12px;
}
#boca{
    position: absolute;
    width: 50px;
    height: 20px;
    background-image: radial-gradient(circle,rgb(239, 160, 110),rgba(228, 119, 50, 0.734));
    top: 160px;
    left: 46px;
    border-radius: 10px 10px 50% 50%;
    overflow: hidden;
}
#boca::before{/*linha da boca*/
    content: '';
    position: absolute;
    width: 100%;
    background-color: rgba(232, 94, 8, 0.345);
    box-shadow: 0 0 10px rgb(232, 94, 8);
    height: 1px;
    top: 7px;
}

#emoji{
    min-width: 200px; 
    width: 50%;
    height: 250px;
    border-radius: 20px 20px 0 0;
    background-color: rgb(230, 230, 230);
    

    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    min-width: 200px; 
    width: 50%;
    height: 300px;
    background-color: rgb(230, 230, 230);
    border-radius: 0px 0px 20px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.login h1{
    font-size: 2rem;
    text-align: center;
}
.login form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.input{
    padding: 5px;
    height: 110px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
.dados>input{
    width: 70%;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 10px;
}
#botoes{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}
#botoes > .botao{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgba(82, 117, 93, 0.484);
    cursor: pointer;
    position: relative;
}



