@import url(estilos/carousel.css);
@import url(estilos/card.css);
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body{
    overflow: auto;
}
.titulo{
    padding: 1rem 0;
    text-align: center;
}