.card{
    margin: 0 auto;
    width: 80%;
    padding: 1rem 0;
    text-align: center;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    background-color: beige;
}
.card_titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}