:root {
    --cor-texto: white;
    --cor-destaque: #c5482d;

    --cor-netflix: #e6111a;
    --cor-prime:#0D7CFF;
    --cor-max:#0817A9;
    --cor-disney:#376C7B;
    --cor-mubi:black;
    --cor-aluguel:grey;
    --cor-mercado:#FEE708;  
}