.header{
    font-size: var(--font-size-m);
    width: 100%;
    padding: 1rem;
    background-image: linear-gradient(to bottom, var(--cor-primaria-detalhe),var(--cor-secundaria-detalhe));
    color: var(--cor-base);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 60px;
    z-index: 1;
}
.header_list {
    flex: 1 1;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.header_list a {
    text-decoration: none;
    color: var(--cor-base);
}

.header_icon-off,
.header_icon-on{
    width: 2rem;
    cursor: pointer;
}