.jogos{
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jogos_container{
    padding: 1rem;
    display:grid;
    grid-template-columns: repeat(3,300px);
    gap: 1rem;
    
    @media screen and (max-widt: 733px) {
        display: flex;
        flex-direction: column;
    }
}

.jogos_container-item{
    padding: 10px;
    display: flex;
    flex-flow: column;
}

.jogo_item-descricao{
    background-image: radial-gradient(circle,white,rgb(161, 161, 161));
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    border-radius: 0 0 10px 10px;
}

.jogo-titulo{
    font-family: var(--fonte-titulo);
}

.jogo_item-capa img {
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.507);
    border-radius: 10px 10px 0 0;
}

.jogo_button-avaliacao{
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    font-size: var(--font-size-m);
    font-weight: 600;
    border-radius: 50px;
    border: none;
    background-color: var(--cor-secundaria-detalhe);
    color: var(--cor-base);
}

.icone-melhor {
    position: relative;
}
.icone-melhor::before{
    content: url(../imagens/assets/asset-icon-absolut70px.png);
    position: absolute;
    top: -10px;
    left: -10px;
}