.jogos{
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jogos_container{
    padding: 1rem;
    display:grid;
    grid-template-columns: repeat(4,300px);
    gap: 1rem;
    
    @media screen and (max-width: 768px) {
        min-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.jogos_container-item{
    min-width: 300px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    border-radius: 10px;

    /*animation: reveal 1ms ease-in-out both;
    animation-timeline: view();
    animation-range: entry 25% cover 50%;*/

    animation: appear 1ms linear;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}


.jogo_item-descricao{
    background-image: radial-gradient(circle,white,rgb(161, 161, 161));
    padding: 1rem;
    text-align: center;
    height: 100%;
    border-radius: 0 0 10px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem 0;
}

.jogo_item-capa{
    height: 350px;
}

.jogo_item-capa img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}

.jogo-titulo{
    font-family: var(--fonte-titulo);
}

.jogo-titulo,
.jogo-plataforma,
.jogo-nota{
    padding: 5px;
    border-radius: 10px;
    
}


.jogo_button-avaliacao{
    text-decoration: none;
    cursor: pointer;
    width: 80%;
    padding: 10px 0;
    font-size: var(--font-size-m);
    font-weight: 600;
    border-radius: 50px;
    border: none;
    background-color: var(--cor-secundaria-detalhe);
    color: var(--cor-base);

    &:hover{
        
        scale: 1.1;
        transition: .5s;
    }
}

.icone-melhor {
    position: relative;
}
.icone-melhor::before{
    content: '';
    position: absolute;
    background-image: url(../imagens/assets/asset-icon-full.png);
    background-position: center center;
    background-size: cover;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
}


@keyframes reveal {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
}

@keyframes appear {
        from{
            opacity: 0;
            translate: 0 100vh;
        }
        to{
            opacity: 1;
            translate: 0 0;
        }
}