@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body{
    background-color: rgb(240, 253, 249);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.caixa-geral{
    margin-top: 10px;
    background-image: url(imagens/fundo_praia.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contador_container{
    background-color: rgba(255, 255, 255, 0.144);
    width: 80%;
    padding: 1rem 0;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.274);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 
    inset 5px 5px 5px rgba(255, 255, 255, 0.144), 
    inset -5px -5px 5px rgba(0, 0, 0, 0.144),
    -5px -5px 10px rgba(0, 0, 0, 0.123);
}
.contador_texto{
    font-size: 2rem;
    font-weight: 200;  
}
#contador{
    color: red;
    font-weight: 800;
}
.lista_geral,
.dados_geral,
.praias_geral{
    background-color: white;
    width: 80%;
    max-width: 600px;
    padding: 1rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 1rem;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
}

.lista_titulo,
.praias_titulo,
.dados_titulo{
    text-align: center;
}

.dados_geral{
    align-items: center;
}

.praias_container{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    list-style: none;
}

.praias_dados{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.089);
}
.praias_link{
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    background-color: rgb(47, 68, 255);
    border-radius: 1rem;
    color: white;
    &::after{
        content: url(link.svg);
        position: absolute;
        width: fit-content;
        top: 4px;
    }
}
.praias_texto{
    text-align: justify;
}
.praias_imagem{
    margin: auto;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

.praias_distancia{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.material-symbols-outlined {
  font-size: 1rem !important;   /* tamanho do ícone */
  font-variation-settings:
    'FILL' 1,           /* 0 = contorno, 1 = preenchido */
    'wght' 700,         /* peso (espessura) */
    'GRAD' 0,           /* gradiente */
    'opsz' 48;          /* tamanho ótico */
}

.distancia_tempo{
    font-weight: 300;
    font-size: .8rem;
}

.carousel_imagens{
    display: flex;
    gap: 1rem;
    overflow-y: auto;
}