@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0e0e0;
    height: 100vh;
    width: 100vw;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 40%;
    min-width: 300px;
    height: 400px;
    background-color: #e0e0e0;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgba(184, 183, 183, 0.203);
    box-shadow: 10px 10px 10px rgba(170, 170, 170, 0.362), -10px -10px 10px rgba(255, 255, 255, 0.405);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}
.login h1{
    color:rgb(95, 95, 95);
}
.entrada{
    margin: auto;
    width: 80%;
    height: 200px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}
.entrada input{
    color: rgb(95, 95, 95);
    text-align: center;
    font-size: 1em;
    border: none;
    background-color: transparent;
    text-decoration: none;
}
.botoes{
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.botoes input{
    background-color: transparent;
    color: rgb(95, 95, 95);
    padding: 10px;
    border: none;
    border: 1px solid rgba(95, 95, 95, 0.258);
    margin: 5px 20px;
    cursor: pointer;
}
.botoes input:hover{
    border-radius: 10px;
    font-weight: bolder;
    transform: scale(1.1);
    transition: .2s;
}
.entrada i {
    color: rgb(95, 95, 95);
    padding: 5px;
}
.botoes input[type=button]{
    background-color: rgb(153, 153, 153);
    color: white;
}
#e1,#e2{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(184, 183, 183);
}